footer {
    background-color: $blue-4;
    padding: 50px 20px 80px;
    overflow: visible;
    position: relative;

    .logo {
        width: 220px;
        margin-left: 20px;
    }
}

.footer-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    
    li {
        font-size: 14px;
        margin: 5px 0;
    }
    
    a:hover {
        color: white;
    }

    li:nth-child(1) {
        color: white;
    }
}

#particles {
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
}

@media screen and (max-width: 950px){
    .footer-nav {
        text-align: center;
        margin-bottom: 40px;
    }

    footer .logo {
        margin: 0 auto 40px;
        display: block;
    }
}