$body-text: 'Roboto Mono', monospace;
$title-text: 'Playfair Display', serif;

$blue-1: #081D3F;
$blue-2: #647589;
$blue-2-alt: #64758957;
$blue-3: #044A73;
$blue-4: #091526;

body {
    margin: 0;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 30px;
}

h3, h4, h5 {
    font-size: 20px;
}

h1, h2, h3, h4, h5 {
    font-family: $title-text;
    font-weight: normal;
}

body, p, li, ul, ol {
    font-family: $body-text;
}

p, li {
    font-size: 14px;
    color: $blue-2;
}

a {
    text-decoration: none;
    color: inherit;
}

hr {
    display: block;
    width: 100%;
    height: 1px;
    margin: 20px auto 10px;
    border: 0;
    background-color: $blue-2-alt;
}

.quoted {
    padding-left: 20px;
    border-left: 10px solid $blue-2-alt;
    margin: 30px auto;

    p {
        font-size: 20px;
        color: $blue-1;
        font-weight: bold;
    }
}

[class*="container-"] {
    width: 95%;
    margin: 0 auto;
}

.container {
    &-xlg {
        max-width: 1400px;
    }
    &-lg {
        max-width: 1200px;
    }
    &-md {
        max-width: 900px;
    }
    &-sm {
        max-width: 600px;
    }
}

.center {
    text-align: center;
}

.padded {
    padding-top: 40px;
    padding-bottom: 40px;

    &-bottom {
        padding-bottom: 40px;
    }

    &-extra-bottom {
        padding-bottom: 100px;
    }
}

.guttered {
    padding-left: 40px;
    padding-right: 40px;
}

#root {
    z-index: 1;
    position: relative;
}

@import './header';
@import './hero';
@import './buttons';
@import './content';
@import './grid';
@import './thumbnail';
@import './footer';
@import './menu';
@import './services';
@import './loading';
@import './values';