<div class="hero hero-sm">
        <div class="hero-inner">
            <div class="container-lg center">
                <h1 class="hero-title">Team Tree International</h1>
            </div>
        </div>
    </div>
    
    <div class="container-md">
    
        <div class="grid service-articles-grid">
    
            <h2 class="center">A global netowrk of security proffesionals</h2>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore neque vero voluptatem enim qui? Voluptatem, eius aliquid quaerat commodi blanditiis, ducimus consectetur, nisi quos repellat laboriosam cum quisquam libero ex!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi optio praesentium culpa cupiditate corrupti. Perspiciatis quos ab, illum libero porro officia, corporis totam maxime eveniet perferendis architecto! Omnis, expedita numquam.</p>
            <div class="quoted">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate ab dolorum veritatis ipsam quaerat</p>
            </div>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias dolorum vero natus, cumque nobis ullam amet quasi aliquam saepe laudantium repellendus quas eveniet explicabo impedit consequatur nam nemo vel corrupti.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis iure corporis eligendi est nobis fugiat voluptate eum provident delectus neque distinctio, illum ipsa illo commodi quasi doloremque voluptatum corrupti praesentium.</p>
        </div>
    
    </div>
    
    <div class="center padded padded-extra-bottom">
        <a class="btn" href="/contact">Contact us</a>
    </div>