<div class="hero hero-sm">
        <div class="hero-inner">
            <div class="container-lg center">
                <h1 class="hero-title">Team Tree International</h1>
            </div>
        </div>
    </div>
    
    <div class="container-md">
    
        <div class="grid service-articles-grid">
    
            <h2 class="center">
                Our experienced teams are trained to bridge the gap between physical security and cyber security to provide overarching and comprehensive solutions.
            </h2>
            
            <p>Team Tree International is a security platform that connects corporations, small businesses, and individuals around the world with high-quality security services and expert investigators.</p>
            <p>The passion of Team Tree International is to provide value for money security solutions and investigations to ensure that businesses are able to operate securely and to flourish in sometimes volatile and challenging environments.</p>
            <div class="quoted">
                <p>The passion of Team Tree International is to provide value for money security solutions and investigations</p>
            </div>
            <p>At Team Tree International, the central team is supported by a global network of trained and highly experienced security professionals with successful careers in law enforcement, the military and senior security roles in the private sector.</p>
        </div>
    
    </div>
    
    <div class="center padded padded-extra-bottom">
        <a class="btn" href="/contact">Contact us</a>
    </div>