<div class="hero hero-sm">
        <div class="hero-inner">
            <div class="container-lg center">
                <h1 class="hero-title">Team Tree International</h1>
            </div>
        </div>
    </div>
    
    <div class="container-sm">

            <h3>London Office</h3>
            <p>email: london@teamtree.international</p>
            <p>phone: 07123 456 789</p>
            <hr/>
            <h3>Kuala Lumpur Office</h3>
            <p>email: kl@teamtree.international</p>
            <p>phone: +601-7653-1288</p>
        </div>
    
    </div>
    
    <div class="center padded padded-extra-bottom">
        <a class="btn" href="/services">Our services</a>
    </div>