<div class="hero hero-sm">
        <div class="hero-inner">
            <div class="container-lg center">
                <h1 class="hero-title">Our Values</h1>
            </div>
        </div>
    </div>
    
    <div class="container-sm">
        
        <div class="values">
            {{#values}}
                <article class="value">
                    <h2 class="value-title">{{title}}</h2>
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae repellat eius officiis quis commodi amet voluptatem odit et eum aliquam sint fugiat sapiente voluptates, unde quae dolorem, accusantium in ipsa.</p>
                    </div>
                </article>
            {{/values}}
        </div>
    
    </div>
    
    <div class="center padded padded-extra-bottom">
        <a class="btn" href="/contact">Contact us</a>
    </div>